.experience-content {
    background: linear-gradient(45deg, rgb(61, 61, 63), rgb(200, 200, 255));
   display: flex;
   justify-content: space-between;
   border-radius: 100% 0% 0% 0%;
   align-items: center;
   height: 310px;
}
.control-svg {
    position: absolute;
    bottom: 280px;
    left: -10px;
    top: 70px;
    z-index: 1;
}
.control-text {
    position: absolute;
    color: white;
    right: 500px;
    top: 200px;
}

