.nav {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: sticky;
    top: 0px;
    z-index: 999;

}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
}
.container {
  overflow: hidden;
    width: 100%;
    z-index: 1;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: -20px;
}

.navbar-logo {
    justify-content: start;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-top: -40px;
  }
  .menu-icon:active {
    transition: all 0.5s ease;
  }
  .nav-item {
    height: 30px;
    margin: 20px;
    border-bottom: 5px solid transparent;
  }
  .nav-item:hover {
      transition: all 0.5s ease;
    border-bottom: 2px solid #000000;
  }
  .nav-link {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    text-decoration: none;
    list-style-type: none;
    font-family: IBM Plex Mono,monospace;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.4px;
    white-space: nowrap;
    user-select: none;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }


  @media screen and (max-width: 960px) {
    .navbar-logo {
      align-items: flex-start;
      margin-top: -30px;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 0vh;
      position: absolute;
      top: 100px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      overflow: hidden;
      user-select: none;
    }
  
    .nav-menu.active {
      background: #1e1f20;
      position: absolute;
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
      height: 87.5vh;
      user-select: none;
    }
  
    .nav-link {
      text-align: center;
      padding: 2rem;
      display: table;
      color: white;
      text-decoration: none;
      font-weight: 700;
      font-size: 20px;
      margin-top: 50px;
    }
  
    .nav-link:hover {
      color: black;
      transition: all 0.4s ease;
      background-color: white;
      width: 100%;
      height: 20px;
    }
  
    .nav-item:hover {
      border: none;
      width: 100%;
    }
  
    .nav-item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;
      margin: 12.5px;
      margin-top: 20px;
      margin-left: -30px;
      margin-bottom: 40px;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 25px;
      right: 0;
      transform: translate(-100%, 60%);
      transition: all 0.4s ease;
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-btn {
      display: block;
      width: 100%;
      margin-left: -37.5px;
      padding-top: 50px;
    }
  }

  @media screen and (max-width: 680px) {
    .nav-menu {
      height: 0vh;
    }
    .nav-item {
      margin-top: 40px;
    }
  }

  @media screen and (max-width: 568px) {
    .nav-menu {
      height: 0vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .nav-item {
      margin-left: -20px;
      margin-top: 5px;
    }
    .nav-link {
      margin-top: 25px;
    }
    .nav-menu.active {
      display: block;
    }
    .nav-btn {
      margin-left: -20px;
      margin-top: 35px;
    }
  }

  @media screen and (max-width: 568px) {
    .nav-item {
      margin-left: -20px;
      margin-top: 5px;
    }
    .nav-link {
      margin-top: 2.5px;
    }
    .nav-menu.active {
      display: block;
    }
    .nav-btn {
      margin-left: -20px;
      margin-top: -55px;
    }
  }
